---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex h-[80vh] flex-col items-center justify-center">
        <h1 class="text-2xl mb-4 text-red-500">Error occured!</h1>
        <a href="/" class="hover:text-amber-500">Click here to Home</a>
    </div>
</Layout>
