---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import Work from "../components/Work.astro";
import { Icon } from "astro-icon";
---

<Layout>
    <div class="container mx-auto px-4">
        <section id="about" class="mb-24">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                <div class="flex justify-center">
                    <img
                        src="/images/18158421 _1.jpeg"
                        alt="nahcnats"
                        class="rounded"
                    />
                </div>

                <div class="flex flex-col justify-center col-span-2">
                    <div>
                        <h1 class="text-3xl mb-6 text-amber-500">
                            Welcome to <strong
                                class="text-amber-700 font-extrabold"
                                >nahcnats</strong
                            > Portfolio
                        </h1>
                        My name is Stanley Chan. I am a programmer from Malaysia
                        with the focus on ReactJS, React Native, NodeJS and ExpressJs.
                        I am mostly self-taught and have been active since 2018.
                    </div>
                    <a
                        href="/pdf/kinbengchan_resume_20220708a.pdf"
                        download
                        class="primary-button w-[120px] flex justify-center gap-2 p-2 items-center mt-6"
                        ><Icon name="akar-icons:cloud-download" size={20} />
                        Resume</a
                    >
                </div>
            </div>
        </section>
        <Work />
    </div>

    <Footer />
</Layout>

<style>
    img.rounded {
        @apply border-2 border-amber-500;
        border-radius: 50%;
        height: auto;
        width: 300px;
    }
</style>
